/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env .env
.env
well-known.zip
error_log
images/
vendor/
well-known.zip
error_log
images/
vendor/
well-known.zip
error_log

images/angsana/image-1.jpg
images/angsana/image-2.jpg
images/angsana/image-3.jpg
